@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.tab-panel {
  min-height: 100px;
  background-color: $white;
  padding: 16px 0 20px 0;
  border-radius: 0 10px 10px 10px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__form {
    @include d-flex-a-center;
    flex-wrap: wrap;
  }
  &__select {
    height: 37px;
    max-width: 150px;
    width: 150px;
  }
  &__display {
    @include d-flex-j-between-a-center;
    max-width: 238px;
    width: 100%;
    margin-right: 34px;
  }
  &__map {
    @include d-flex-a-center;
    height: 100%;
    &-text {
      color: $black;
      font-size: 14px;
      font-weight: 500;
    }
    &-icon {
      height: 16px;
      width: 13px;
      margin-left: 5px;
    }
  }
  &__button {
    width: 123px;
    height: 37px;
    &-icon {
      height: 12px;
      width: 7px;
    }
  }
}

@media screen and (max-width: $desktop_minimum) {
  .tab-panel {
    &__display {
      max-width: 218px;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: $tablet_large) {
  .tab-panel {
    &__wrapper {
      justify-content: center;
    }
    &__display {
      height: 64px;
      margin: 0 15px 0 20px;
    }
  }
}
