@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.main-news {
  &__item {
    position: relative;
    padding: 10px 0;
    &:not(:nth-last-child(1))::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid $blue;
      opacity: 0.1;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    &:hover {
      .main-news__text {
        color: $blue;
      }
    }
  }
  &__text {
    color: $black;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
    margin-bottom: 6px;
  }
  &__date {
    color: $text-grey;
    font-size: 12px;
  }
}
