@import '@styles/variables.scss';

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 82px;
}

@media screen and (max-width: $tablet_large) {
  .news-list {
    grid-gap: 20px;
  }
}

@media screen and (max-width: $tablet_medium) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
