@import '@styles/variables.scss';

.breadcrumbs {
  display: flex;
  &__item {
    color: $blue;
    margin-right: 7px;
    font-size: 14px;
    &_active {
      position: relative;
      color: $text-grey-scnd;
      margin-left: 10px;
      &::before {
        content: '';
        position: absolute;
        background-color: #664ef9;
        height: 3px;
        width: 3px;
        top: 7px;
        left: -10px;
        border-radius: 50%;
      }
    }
  }
}
