@import '@styles/variables.scss';

.main-category-badge {
  display: flex;
  background-color: $blue;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: rgba($color: $white, $alpha: 0.7);
  margin: 14px 17px 0 0;
  transition: 0.2s;
  &:hover {
    background-color: #612bfb;
    color: $white;
  }
  &__link {
    padding: 8px 14px;
  }
}
