@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.filter-number {
  @include d-flex-j-between-a-center;
  width: 175px;
  &__input {
    height: 37px;
    width: 100%;
    font-size: 14px;
    background-color: $grey;
    -moz-appearance: textfield;
    border: none;
    border-radius: 20px;
    padding: 10px 14px;
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      background-color: $white;
      outline: 2px solid rgba(102, 78, 249, 0.8);
    }
    &:hover {
      background-color: rgba(102, 78, 249, 0.1);
    }
    &::placeholder {
      color: $text-grey-scnd;
    }
    &_long {
      max-width: 100px;
    }
  }
  &__separator {
    color: $light-blue;
    font-size: 14px;
    font-weight: 500;
  }
}
