@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.map-button {
  @include d-flex-j-between-a-center;
  border: none;
  height: 100%;
  width: 100%;
  color: $black;
  padding: 10px 18px;
  transition: 0.2s;
  cursor: pointer;
  &::before {
    content: '';
    background: url('../../../public/icons/button/mapYellow.svg');
    height: 15px;
    width: 15px;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
  }
  &_yellow {
    background-color: $white;
    border-radius: 19px;
    &:hover {
      color: $yellow-strong;
    }
  }
}
