@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.filter-select {
  position: relative;
  height: 37px;
  max-width: 150px;
  width: 150px;
  cursor: pointer;
  &__output {
    @include d-flex-j-between-a-center;
    font-size: 14px;
    font-weight: 500;
    background-color: $grey;
    color: $text-grey-scnd;
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    &:focus {
      background-color: $white;
      outline: 2px solid rgba(102, 78, 249, 0.8);
    }
    &:hover {
      background-color: rgba(102, 78, 249, 0.1);
    }
    &::after {
      content: '';
      width: 12px;
      height: 7px;
      background: url('../../../public/icons/main/filter/arrow.svg') no-repeat 50%;
      transition: 0.2s;
    }
    &_show {
      &::after {
        transform: rotateX(180deg);
      }
    }
  }
  &__list {
    position: absolute;
    background-color: $white;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    width: 100%;
    top: 50px;
    z-index: 2;
  }
  &__item {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    &:nth-child(1) {
      border-radius: 10px 10px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0 0 10px 10px;
    }
    &:hover {
      background-color: $grey;
    }
  }
}
