@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.next-button {
  position: absolute;
  @include d-flex-j-center-a-center;
  bottom: 19px;
  right: 21px;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  &_white {
    color: $white;
    border: 1px solid $white;
    &:hover {
      background-color: rgba($color: $white, $alpha: 0.1);
    }
  }
  &_blue {
    color: $blue;
    border: 1px solid $blue;
    &:hover {
      background-color: rgba($color: $blue, $alpha: 0.1);
    }
  }
}
