@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.products {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
  &__bottom {
    @include d-flex-j-between-a-center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: $desktop_view) {
  .products {
    margin: 0 20px 50px 20px;
  }
}

@media screen and (max-width: $mobile_large) {
  .products {
    margin: 0 20px 50px 20px;
  }
}
