@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.main-map {
  &__top {
    position: relative;
    background: linear-gradient(0deg, #7e6af3 -2.23%, #6540cd 100.04%);
    height: 440px;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      background: url('../../../../public/images/main/map/bg.png');
      top: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: overlay;
      filter: blur(1px);
      z-index: -1;
    }
    &::before {
      content: '';
      position: absolute;
      background: url('../../../../public/images/whitedots.png') no-repeat;
      height: 71px;
      width: 71px;
      top: 47px;
      right: 131px;
    }
  }

  &__content {
    max-width: 1280px;
    margin: 0 auto;
  }
  &__heading {
    @include d-flex-f-column-a-center;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 94px;
    &-text {
      color: $white;
      font-size: 25px;
      margin-bottom: 20px;
    }
    &-description {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      max-width: 390px;
      margin-bottom: 21px;
    }
    &-button {
      height: 37px;
      width: 167px;
    }
  }
  &__bottom {
    position: relative;
    padding-bottom: 137px;
    margin: 0 auto;
    &::after {
      content: '';
      position: absolute;
      background: url('../../../../public/images/dots.png') no-repeat;
      height: 71px;
      width: 71px;
      bottom: 25px;
      right: 162px;
    }
  }
}

@media screen and (max-width: $desktop_view) {
  .main-map {
    &__content {
      margin: 0 20px;
    }
    &__bottom {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: $tablet_minimum) {
  .main-map {
    &__top {
      &::before {
        display: none;
      }
    }
  }
}
