@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.item {
  position: relative;
  display: inline-block;
  background-color: rgba($color: $blue, $alpha: 0.1);
  border-radius: 17px;
  padding: 6px 10px;
  transition: 0.2s;
  cursor: pointer;
  &_active {
    @include d-flex-a-center;
    column-gap: 10px;
  }
  &:hover {
    background-color: rgba($color: $blue, $alpha: 0.2);
  }
  &__text {
    color: $blue;
    font-size: 14px;
    line-height: 100%;
  }
}
