@import '@styles/variables.scss';

.filter-options {
  margin-top: 12px;
  position: absolute;
  background-color: $white;
  max-width: 1062px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 40px 40px rgba(135, 124, 202, 0.15);
  overflow: hidden;
  &_show {
    opacity: 1;
    visibility: visible;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 20px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: $tablet_large) {
  .filter-options {
    max-width: 760px;
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: $tablet_minimum) {
  .filter-options {
    max-width: 565px;
    &__grid {
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(2, 1fr);
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: $mobile_large) {
  .filter-options {
    max-width: 360px;
  }
}
