@mixin d-flex-j-between-a-center {
  @include d-flex-a-center;
  justify-content: space-between;
}

@mixin d-flex-j-center-a-center {
  @include d-flex-a-center;
  justify-content: center;
}

@mixin d-flex-j-between-a-start {
  @include d-flex-a-start;
  justify-content: space-between;
}

@mixin d-flex-j-start-a-center {
  @include d-flex-a-center;
  justify-content: flex-start;
}

@mixin d-flex-j-between-a-end {
  @include d-flex-a-end;
  justify-content: space-between;
}

@mixin d-flex-f-column-j-between {
  @include d-flex-f-column;
  justify-content: space-between;
}

@mixin d-flex-f-column-a-center {
  @include d-flex-f-column;
  align-items: center;
}

@mixin d-flex-f-column-a-center-j-center {
  @include d-flex-f-column;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-a-center {
  display: flex;
  align-items: center;
}

@mixin d-flex-a-end {
  display: flex;
  align-items: flex-end;
}

@mixin d-flex-a-start {
  display: flex;
  align-items: flex-start;
}

@mixin d-flex-f-column {
  display: flex;
  flex-direction: column;
}
