$grey: #f8f8f8;
$grey-light: #f7f7f7;
$black: #1e2123;
$white: #ffffff;
$white-background: #fffefe;
$blue: #664ef9;
$blue-hover: #5c35f9;
$yellow: #ffd54f;
$yellow-strong: #fec100;
$text-grey-scnd: #686868;
$text-grey: #8291a3;
$icon-grey: #fdfafa;
$checkbox-grey: #bdbdbd;
$red: #eb5757;

$desktop_view: 1320px;
$tablet_large: 992px;
$tablet_medium: 876px;
$tablet_minimum: 768px;
$mobile_large: 576px;
