$grey: #f8f8f8;
$black: #1e2123;
$white: #ffffff;
$blue: #664ef9;
$blue-hover: #5c35f9;
$yellow: #ffd54f;
$text-grey-scnd: #686868;
$text-grey: #8291a3;
$icon-grey: #fdfafa;

$desktop_view: 1320px;
$tablet_large: 992px;
$tablet_medium: 876px;
