@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.badge {
  @include d-flex-a-center;
  font-size: 14px;
  font-weight: 500;
  color: $text-grey-scnd;
  background-color: $grey;
  border-radius: 18px;
  padding: 8.5px 8px;
  &_wide {
    height: 34px;
    padding: 8.5px 14px;
  }
  &__icon {
    margin-right: 6px;
  }
  &__text {
    color: $blue;
  }
}
