@import '@styles/variables.scss';

.main-category {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 576px;
  overflow: hidden;
  margin: 0 auto 140px auto;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 953px;
    width: 100%;
    gap: 30px;
    &-card {
      height: 270px;
      width: 100%;
      &_wide {
        max-width: 516px;
        width: 36vw;
      }
      &_short {
        max-width: 407px;
        width: 29vw;
      }
    }
  }
  &__sections {
    max-width: 297px;
    width: 21vw;
  }
}

@media screen and (max-width: $desktop_minimum) {
  .main-category {
    flex-wrap: wrap;
    max-height: none;
    &__cards {
      order: 1;
      &-card {
        &_wide {
          width: 48vw;
        }
        &_short {
          width: 38vw;
        }
      }
    }
    &__sections {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: none;
    }
  }
}

@media screen and (max-width: $desktop_view) {
  .main-category {
    margin: 0 20px 140px 20px;
  }
}

@media screen and (max-width: $tablet_medium) {
  .main-category {
    &__sections {
      column-gap: 20px;
    }
  }
}

@media screen and (max-width: $tablet_minimum) {
  .main-category {
    &__cards {
      &-card {
        &_wide {
          width: 48vw;
        }
        &_short {
          max-width: 407px;
          width: 39vw;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile_large) {
  .main-category {
    &__cards {
      display: none;
    }
    &__sections {
      display: block;
    }
  }
}
