.main-category {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 953px;
    width: 100%;
    &-card {
      height: 270px;
      width: 100%;
      &_wide {
        max-width: 516px;
      }
      &_short {
        max-width: 407px;
      }
      &:nth-child(3) {
        margin-top: 30px;
        margin-right: 30px;
      }
      &:nth-child(4) {
        margin-top: 30px;
      }
      &:nth-child(1) {
        margin-right: 30px;
      }
    }
  }
  &__sections {
    max-width: 297px;
    width: 100%;
  }
}
